body{
    background: #33B7FF;
}
.init{
    /* name */
    position: absolute;
    width: 117px;
    height: 145px;
    left: 121px;
    top: 244px;

    font-family: Great Vibes;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 150px;

    color: #FFFFFF;
}